:root {
    --nav-corner-radius: 0.5em;
    --nav-border-width: 0.25em;
}

main {
    height: 100%;
    margin: auto;
}

main > div {
    margin: auto;
    margin-top: 10em;
}

main > div > div:last-child {
    visibility: hidden;
    height: 0;
}

#App > div > div {
    top: 0;
}

#root > div {
    visibility: visible;
    height: auto;
}

body {
    grid-template-areas: "nav nav nav" "main main main" "footer footer footer" !important;
    grid-template-columns: auto 1fr auto !important;
    grid-template-rows: auto 1fr auto !important;
}

body > div {
    visibility: hidden;
    width: 0;
    height: 0;
}

nav > div {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: auto !important;
}

nav > div > div:first-child {
    border-width: var(--nav-border-width) 0 var(--nav-border-width) var(--nav-border-width) !important;
    border-radius: var(--nav-corner-radius) 0 0 var(--nav-corner-radius) !important;
}

nav > div > div {
    align-self: stretch;
    border: var(--separator-color) solid 0 !important;
    border-width: var(--nav-border-width) 0 !important;
    border-radius: 0;
}

nav > div > div:last-child {
    border-width: var(--nav-border-width) var(--nav-border-width) var(--nav-border-width) 0 !important;
    border-radius: 0 var(--nav-corner-radius) var(--nav-corner-radius) 0 !important;    
}

nav > div > div > a,
nav > div > div > div {
    height: 100% !important;
    padding: 0.5em;
}